body {
  background: linear-gradient(135deg, #4a00e0, #8e2de2);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  margin: auto;
  color: #fff;
  text-align: center;
  padding: 0 15px;
}

h1 {
  color: #fff;
  font-size: 2.5em;
}

p {
  color: #343336;
  font-size: 1.5em;
}

#name {
  padding: 10px;
  font-size: 1.2em;
  width: 70%;
  min-width: 350px;
  margin-top: 20px;
  border: 2px solid #ff6a00;
  border-radius: 5px;
  outline: none;
}

a {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #45a049;
}

.container {
  margin-top: 100px;
}

.typewriter {
  font-size: 2.5rem;
  color: #fff;
  border-right: 2px solid #45a049;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 8s steps(30, end) infinite,
    blink-caret 0.75s step-end infinite;
  animation-delay: 1s;
}

@keyframes typing {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: black;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  p {
    font-size: 1.2em;
  }

  #name {
    font-size: 1em;
    width: 90%;
  }

  a {
    font-size: 1em;
    padding: 8px 16px;
  }

  .typewriter {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
  }

  #name {
    width: 240px;
    min-width: 270px;
    font-size: 0.9em;
  }

  a {
    font-size: 0.9em;
    padding: 6px 12px;
  }

  .typewriter {
    font-size: 1.5rem;
  }
}
